<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AzyLabs</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div class="bgi">
   <div class="navbar">
      <nav>
        <p class="logo">AzyLabs</p>
        <ul class="nav-links">
          <li><a href="">about</a></li>
          <li><a href="">project</a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      
  
<div class="card">

    <div class="nama">
      <strong><h1 class="txt">Selamat datang di AzyLabs</h1>
      </strong>
    </div>
    
    <!-- di dalam card -->
  </div>
  

    
<!-- didalam content -->
</div>

<!-- ini di dalAM BGI class -->
</div>

<div class="informasi">
 <strong> <h1 class="qw">Azy</h1></strong><strong><h1 class="wq">Labs,</h1></strong><h1 class="sss"> Web Galeri Proyek dan Ilmu Saya</h1>
</div>


<div class="bgb">
  <div class="cardd">
    <div class="hh">
    <h1>PROJECT SAYA</h1>
  </div>
    <div class="caard">
    <div class="cardc">
      <h1>Web wssqqStore</h1>
      <div class="gbr"><div class="gambar1"></div></div>
      
      <p>Lorem, qsqsqsadipisicing.</p>
    </div>
    <div class="cardc">
      <h1>Web qsqsLink</h1>
      <div class="gambar2"></div>
      <p>walawe qsqblabom</p>
    </div>
    <div class="cardc">
      <h1>web chatting</h1>
      
      <div class="gambar3"></div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    
    
    <!-- di dalam cardd -->
  </div>
  </div>
  </div>
</div>
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab pariatur fuga eveniet natus error corrupti porro at, cupiditate quod earum quis cum quibusdam ipsa totam est perspiciatis ipsam placeat optio?</h1>
</body>
</html>
