<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div class="bgi">
   <div class="navbar">
      <nav>
        <p class="logo">AzyLabs</p>
        <ul class="nav-links">
          <li><a href="">about</a></li>
          <li><a href="">project</a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      
  
<div class="card">

    <div class="nama">
      <strong><h3 class="txt">Selamat datang di AzyLabs</h3>
      </strong>
    </div>
    
    <!-- di dalam card -->
  </div>
  

    
<!-- didalam content -->
</div>
<div class="hh"><h1>ini adalah karya AzyLabs</h1>
<div class="cardd">
  
  <div class="caard">
  <div class="cardc">
    <h1>Web Store</h1>

    <div class="gambar1"></div>
    <p>Lorem, adipisicing.</p>
  </div>
  <div class="cardc">
    <h1>Web Link</h1>
    <div class="gambar2"></div>
    <p>walawe blabom</p>
  </div>
  <div class="cardc">
    <h1>web chatting</h1>
    
    <div class="gambar3"></div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
  </div>
  
  
  <!-- di dalam cardd -->
</div>
</div>
  <!-- ini di dalAM BGI class -->
</div>

</h2>
</body>
</html>
